---
services:
  postgres:
    image: postgres:18-alpine
    container_name: mediatracker_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:8-alpine
    container_name: mediatracker_redis
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: mediatracker_api
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@mediatracker_db:5432/${POSTGRES_DB}
      REDIS_URL: redis://redis:6379
      JWT_SECRET: ${JWT_SECRET}
      TVDB_API_KEY: ${TVDB_API_KEY}
      FRONTEND_URL: ${FRONTEND_URL}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    command: >
      sh -c "bunx prisma migrate deploy --schema=./prisma/schema.prisma && bun run server.js"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: mediatracker_ui
    ports:
      - '3001:3000'
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3000/graphql
      INTERNAL_API_URL: http://backend:3000/graphql
      AUTH_TRUST_HOST: "true"
      AUTH_SECRET: ${JWT_SECRET}
    depends_on:
      - backend
volumes:
  postgres_data:
  redis_data:
